# bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/
/vendor/filebeat/
/vendor/metricbeat/
/vendor/jruby/

# homebrew state
.Brewfile.cached
Brewfile.lock.json

# Mac finder artifacts
.DS_Store

# Rubymine project files
/.idea/
/.run/
*.iml

# VSCode Workspace files
/.vscode/

# Silver surfer ignore file
.agignore

# Sublime project files
/*.sublime-project
/*.sublime-workspace

# vim artifacts
*.swp
*.swo
*.un~

ngrok

/data
/.rvmrc
/.envrc
/.rbenv-vars
/.irbrc
/public/blog

# honeypot dump
dump/

# Emacs restclient files
*.http

# Codekit settings
*.codekit

# Static asset build system
.tmp/
.m2/
.local/
.cache/

# Ignore example file outputs
output

# Config files
config/*.yml

# Code coverage
coverage

# Downloaded license files
script/licenses/**/_downloaded_*-LICENSE.txt

# Buildkite
bin/container-structure-test
.artifacts
.buildkite/publish/container-structure-test.yaml
