services:
  crawler:
    image: docker.elastic.co/integrations/crawler:${CRAWLER_VERSION:-latest}
    container_name: crawler
    volumes:
      - ./config:/app/config
    networks:
      - elastic
    stdin_open: true   # Equivalent to -i
    tty: true          # Required for interactive mode
    # Uncomment enviroment variable if running on an M4
    # environment:
    #   - "_JAVA_OPTIONS=-XX:UseSVE=0"

networks:
  elastic:
    driver: bridge
