services:
  crawler:
    image: docker.elastic.co/integrations/crawler:${CRAWLER_VERSION:-LATEST}
    container_name: crawler
    volumes:
      - ./config:/app/config
    networks:
      - elastic
    stdin_open: true   # Equivalent to -i
    tty: true          # Required for interactive mode

networks:
  elastic:
    driver: bridge
