## Elasticsearch connection settings. These can be defined individually for crawlers in `config/crawlers/{crawler-name}.yml`.
##  If `api_key` is provided it will be used over `username` and `password`.
#
#elasticsearch:
#  host: http://localhost:9200
#  username: elastic
#  password: changeme
#  api_key: 1234
